# Capacitor
node_modules/
dist/
.DS_Store

# iOS
ios/App/Pods
ios/App/build
ios/App/App.xcworkspace/xcuserdata
ios/App/App.xcodeproj/xcuserdata
*.ipa

# Android
android/.gradle
android/.idea
android/build
android/app/build
android/gradle
android/gradlew
android/gradlew.bat
android/local.properties
*.apk
*.aab

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*
